<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Level two - Webpage</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
</head>
<body>
    <h1 class="heading_two">Hi tony!</h1>
    <h2>Here are youre webpage records:</h2>

    <div class="djangotwo">
        {% if webpage_records %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Topic</th>
            </thead>
        
            {% for webpage in webpage_records%}
            <tr>
                <td>{{webpage.name}}</td>
                <td>{{webpage.topic}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>NO ACCESS RECORDS FOUND!</p>
        {% endif %}
    </div>
</body>
</html>